$brand-color: #663399;

.brand {
    color: $brand-color;
}

.index-main {
    background: url('../images/main-banner-gradient.jpg');
    height: calc(100vh - 100px);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -100px;
    padding-top: 100px;

    display: flex;
    flex-direction: row;
}

.index-right, .index-left {
    width: 50%;
    padding: 6rem;
}

.index-left {
    margin-top: 2rem;
}

.hello-text {
    background-color: #fff;
    color: $brand-color;
    width: 100px;
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
}

.before-typewriting-text { 
    
    display: flex;
    flex-direction: row;
    font-size: 2.8rem;
    color: #fff;
    
}

.typewriter-subtitle {
    color: #fff;
    
}


.icon-container { 
    
    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: $brand-color;
        }
    }
    i {
        margin-right: 15px;
        margin-top: 5px;
        font-size: 1.5rem;
        padding: 10px;
        border: 1.5px solid #fff;
        border-radius: 50%;
        &:hover {
            border-color: $brand-color;
        }
    }
}


/* Begin About section */


.index-about { 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.less-padding-top {
    padding-top: 2rem;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-two, .last-two {
    margin: 10px;
}

.info-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    i {
        padding-right: 15px;
    }
}

.resume-button-container {
    margin-top: 30px;
}

.index-left-about {
 display: flex;
 align-content: center;
 align-items: center;
 justify-content: center;
 padding: 6rem;
}

.resume-button {
    padding: 10px 30px;
    border-radius: 20px;
    background: rgb(102,51,153);
    background: linear-gradient(94deg, rgba(102,51,153,1) 19%, rgba(182,144,221,1) 100%);
    color: #fff;
    text-decoration: none;
}

.index-services {
    background-color: #FAFAFA;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-button {
    background-color: $brand-color;
    padding: 5px 25px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 0;
    margin-top: 80px;
}

.card-container {
    display: flex;
    flex-direction: row;
}