.portfolio-main-title {
    padding: 4rem 6rem;
    margin-top: -5px;
    height: 30vh;
    background-image: linear-gradient(178deg, #663399 70%, #FFF calc(70% + 2px));
    color: #fff;
}

.portfolio-main-section {
    padding: 0 6rem;
    
}

@media screen and (max-width: 600px) {

    .portfolio-main-section {
        padding: 0 2rem;
        
    }
    
}



@media screen and (max-width: 350px) {

    .portfolio-main-section {
        padding: 0 1rem;
        
    }

    .portfolio-main-title {
        padding: 2rem 1rem;
      
    }
    
    
}