.uses-title-section {
    padding: 4rem 6rem;
    margin-top: -5px;
    height: 30vh;
    background-image: linear-gradient(178deg, #663399 70%, #FFF calc(70% + 2px));
    color: #fff;
   
}

.uses-main-content {
    padding: 0 6rem;
    min-height: 100vh;
}

.tech-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #DCDCDC;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 7px 9px 8px -5px rgba(207,207,207,1);
  -moz-box-shadow: 7px 9px 8px -5px rgba(207,207,207,1);
  box-shadow: 7px 9px 8px -5px rgba(207,207,207,1);
  
  h1 {
      flex-basis: 100%;
      text-align: center;
      padding-top: 20px;
  }

  p {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 20px;
  }

}

.logo-container {
    max-width: 100px;
    flex-basis: 10%;
    margin: 20px;
}

@media  (max-width: 600px) {
 
  .logo-container {
    flex-basis: 20%;
  }
  
  .uses-main-content {
    padding: 0 2rem;
   
}

}
