.portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid #663399;
    border-radius: 15px;    
    padding: 20px;
    margin-bottom: 60px;
}

.portfolio-tech {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    &:hover {
        filter: none;
    }
}

.portfolio-description {
    display: flex;
    flex-direction: column;
}

.portfolio-title-container {

    h1 {
        margin-top: 2px;
    }

}

.portfolio-desc-container {
    p {
        margin-top: 2px;
    }
}


.portfolio-icon-containers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
}

.porfolio-button-container {

    
    display: flex;
    flex-direction: row;

    a {
        font-size: .9rem;
        margin: 5px;
        text-decoration: none;
        color: white;
    }


    .portfolio-button {
       
        background-color: #663399;
        border-radius: 10px;
        margin: 10px 10px;
        padding: 5px 20px 5px;
        -webkit-box-shadow: 6px 7px 18px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 7px 18px -8px rgba(0,0,0,0.75);
        box-shadow: 6px 7px 18px -8px rgba(0,0,0,0.75);
        &:hover {
            background-color: #842edb;
            hr {
                border: 0.5px solid #663399; 
            }
    
        }
    }

  

    hr {
        border: 1px solid #842edb; 
    }

    .text-icon-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: uppercase;
        color: #fff;
        i {
            font-size: 1.2rem;
        }
    }

    .sorry {
        margin: 5px;
        font-size: .9rem;
        cursor: pointer;
    }



}

.screen-cap {
    min-width: 400px;
    border-radius: 20px;
    margin: 20px 40px 20px 20px;
}