@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quattrocento+Sans:400,700&display=swap');
$brand-color: #663399;

body { 
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;

    h1, h2, h3, h4{
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: 700;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}


.main-section {
    padding: 4rem 6rem;
}

.section-blog-title {
    padding: 4rem 6rem;
    height: 30vh;
    background-image: linear-gradient(178deg, #663399 70%, #FFF calc(70% + 2px));
    color: #fff;
   
}




// media queries

@media  (max-width: 1400px) {
    .main-section {
        padding: 2rem 3rem;
    }
}