$brand-color: #663399;
$navbar-text: #fff;


.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    color: $navbar-text;
 
}

.navbar-brand-container {
    font-size: 1.5rem;
    padding-left: 6rem;
    letter-spacing: -1px;
}

.navbar-links-container {
    padding-right: 6rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

    a { 
        padding: 0 20px;
        text-decoration: none;
        color: $navbar-text;

        &:hover {
            color: $brand-color;
        }
    }
}